.ns-username-input-container {
  .username-input {
    padding: 3px;
    width: 150px;
    background: $brand-white;
    border: none;
    border-bottom: 2px $brand-primary solid;
    border-radius: 5px;
    color: $brand-black;
    text-align: center;
    margin-right: 20px;
    outline-color: $brand-primary;
    outline-offset: 3px;
  }

  .username-submit {
    background: $brand-white;
    border: none;
    border-bottom: 2px $brand-primary solid;
    border-radius: 5px;
    color: $brand-black;
    font-weight: bold;
    outline-color: $brand-primary;
    outline-offset: 3px;
  }
}