.ns-username-input-container {
  input {
    padding: 3px;
    width: 150px;
    background: $brand-white;
    border: none;
    border-bottom: 2px $brand-primary solid;
    border-radius: 5px;
    color: $brand-black;
    text-align: center;
    margin-right: 20px;
    outline-color: $brand-primary;
    outline-offset: 3px;
  }

  button {
    background: $brand-white;
    border: none;
    border-bottom: 2px $brand-primary solid;
    border-radius: 5px;
    color: $brand-black;
    font-weight: bold;
    outline-color: $brand-primary;
    outline-offset: 3px;
  }

  .loading-container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
    padding: 7px;

    box-shadow: 0 0 2px 2px rgba($brand-primary, .7) inset,
    0 0 2px 2px rgba($brand-primary, .7);
    border-radius: 5px;

    font-size: 14px;
    color: $brand-primary;
  }

  .error-container {
    @extend .loading-container;

    box-shadow: 0 0 2px 2px rgba($brand-red, .7) inset,
    0 0 2px 2px rgba($brand-red, .7);

    color: $brand-red;
  }
}