@import '../../../../assets/styles/global-variables';

.container {
  .displayBox {
    width: 50%;
    min-width: 300px;
    margin: 0 auto 25px;
    border-radius: 20px 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $brand-white;

    .text {
      margin: 5px;
      padding: 0;
      color: $brand-primary;
    }

    .profilePic {
      width: 65px;
      height: auto;
      border-radius: 20px 0 20px 0;
      margin-right: 20px;
    }

    .textbox {
      background-color: $brand-white;
    }
  }
}
