@import '../../../../../assets/styles/global-variables';

.footer {
  color: $brand-black;
  background-color: $brand-primary;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0;
}
