/*
    This .css file is loaded before the rest of the application, so that the loading indicator looks nice and fancy.
    NOTE: colors in this file are HARDCODED, and WILL NOT BE UPDATED upon changing global .scss variables
*/

#loading-indicator {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F05A1E;
    background-color: #111;
}

.sk-wandering-cubes {
    margin: 40px auto;
    width: 40px;
    height: 40px;
    position: relative; }
.sk-wandering-cubes .sk-cube {
    background-color: #F05A1E;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-wanderingCube 1.8s ease-in-out -1.8s infinite both;
    animation: sk-wanderingCube 1.8s ease-in-out -1.8s infinite both; }
.sk-wandering-cubes .sk-cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s; }
@-webkit-keyframes sk-wanderingCube {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg); }
    25% {
        -webkit-transform: translateX(30px) rotate(-90deg) scale(0.5);
        transform: translateX(30px) rotate(-90deg) scale(0.5); }
    50% {
        /* Hack to make FF rotate in the right direction */
        -webkit-transform: translateX(30px) translateY(30px) rotate(-179deg);
        transform: translateX(30px) translateY(30px) rotate(-179deg); }
    50.1% {
        -webkit-transform: translateX(30px) translateY(30px) rotate(-180deg);
        transform: translateX(30px) translateY(30px) rotate(-180deg); }
    75% {
        -webkit-transform: translateX(0) translateY(30px) rotate(-270deg) scale(0.5);
        transform: translateX(0) translateY(30px) rotate(-270deg) scale(0.5); }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg); } }
@keyframes sk-wanderingCube {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg); }
    25% {
        -webkit-transform: translateX(30px) rotate(-90deg) scale(0.5);
        transform: translateX(30px) rotate(-90deg) scale(0.5); }
    50% {
        /* Hack to make FF rotate in the right direction */
        -webkit-transform: translateX(30px) translateY(30px) rotate(-179deg);
        transform: translateX(30px) translateY(30px) rotate(-179deg); }
    50.1% {
        -webkit-transform: translateX(30px) translateY(30px) rotate(-180deg);
        transform: translateX(30px) translateY(30px) rotate(-180deg); }
    75% {
        -webkit-transform: translateX(0) translateY(30px) rotate(-270deg) scale(0.5);
        transform: translateX(0) translateY(30px) rotate(-270deg) scale(0.5); }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg); } }
